.wrapper {}

.btn {
  padding: 0.5em 1em;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.2s ease-out;

  &:not(:nth-last-child(1)) {
    margin-right: 0.75em;
  }

  &:hover {
    background-color: #eee;
  }

  &.__active {
    color: #fff;
    pointer-events: none;
    background-color: #333;
  }
}
